<launch>
  <!-- Worlds: none, empty, power_tower, 2towers, burguillos, mrs, pv_farm, mrs_pv_farm -->
  <arg name="world" default="power_tower"/>

  <!-- Launch Gazebo simulation -->
  <rosparam param="/use_sim_time">true</rosparam>

  <node pkg="px4_bringup" type="launch_gzworld.py" name="gazebo_world" output="screen" if="$(eval world=='empty')"
    args="-physics=ode -world=$(find px4_bringup)/config/empty_light.world">
    <rosparam param="sim_origin">[37.558542, -5.931074, 7.89]</rosparam>
  </node>

  <node pkg="aerialcore_simulation" type="launch_gzworld.py" name="gazebo_world" output="screen" if="$(eval world=='power_tower')"
    args="-physics=none -world=$(find aerialcore_simulation)/worlds/leader_follower_inspection.world
    -add_model_path=$(find aerialcore_simulation)/models
    -description_package=robots_description">
    <rosparam param="sim_origin">[38.138728, -3.173825, 0]</rosparam>
  </node>

  <node pkg="aerialcore_simulation" type="launch_gzworld.py" name="gazebo_world" output="screen" if="$(eval world=='2towers')"
    args="-physics=none -world=$(find aerialcore_simulation)/worlds/power_towers_danube_wires_rescaled_jeff_autospawn.world
    -add_model_path=$(find aerialcore_simulation)/models
    -description_package=robots_description">
    <rosparam param="sim_origin">[38.138728, -3.173825, 0]</rosparam>
  </node>

  <node pkg="px4_bringup" type="launch_gzworld.py" name="gazebo_world" output="screen" if="$(eval world=='burguillos')"
    args="-physics=ode -world=$(find grvc_gazebo_worlds)/worlds/burguillos_power_lines.world
    -add_model_path=$(find grvc_gazebo_worlds)/models
    -description_package=robots_description">
    <rosparam param="sim_origin">[37.564003804467, -6.003676484441573, 65.36515808105469]</rosparam>
  </node>

  <include file="$(find mrs_simulation)/launch/simulation.launch" if="$(eval world=='mrs')">
    <arg name="world_file" value="$(find aerialcore_simulation)/worlds/power_towers_danube_wires_rescaled_jeff_autospawn.world"/>
    <arg name="verbose" value="false"/>
  </include>

  <node pkg="px4_bringup" type="launch_gzworld.py" name="gazebo_world" output="screen" if="$(eval world=='pv_farm')"
    args="-physics=ode -world=$(find grvc_gazebo_worlds)/worlds/evora_solar_panel_farm.world
    -add_model_path=$(find grvc_gazebo_worlds)/models
    -description_package=robots_description">
		<rosparam param="sim_origin">[38.541003, -7.961719, 0]</rosparam>
  </node>

</launch>
